@import url("fonts.css");

@import url("reset.css");


@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster:regular&display=swap");

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
}

h3 {
    font-family: "Lobster", sans-serif;
    font-weight: 600;
    color: chocolate;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
    text-shadow: 5px 5px 3px #000000;
    text-shadow: -5px -5px -#6B77E5;
}

.title,
.title-second-page,
.sub-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.27;
}

.title,
.title-second-page {
    color: #37393F;
    text-transform: capitalize;
}

.title {
    font-size: 30px;
}

.title-second-page {
    font-size: 40px;
    font-weight: 700;
}

.sub-title {
    font-size: 20px;
    color: #6B77E5;
}

.text {
    line-height: 1.46;
}

.main-hyper {
    color: red;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 5px 5px 5px rgba(34, 0, 255, 0.534);
}

.text-music {
    text-indent: 25px;
    font-family: "Causten", sans-serif;
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 7px;
}

.text-money {
    color: rgba(43, 226, 202, 0.442);
    font-size: 20px;
    font-style: italic;
    text-indent: 30px;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.text-list {
    font-weight: 500;
    line-height: 1.46;
}

.text-list3 {
    text-align: right;
    text-transform: uppercase;
}

.text-list4 {
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px rgba(177, 226, 43, 0.775);
    word-spacing: 10px;
}

a {
    font-style: oblique;
    color: #6B77E5;
    letter-spacing: 5px;
}

.wrap {
    white-space: nowrap;
}

.up-and-down {
    font-weight: 900;
    text-align: center;
}

.white {
    color: #ffffff;
}